.item-price{
    text-align: center;
    color: rgb(101, 128, 250);
    text-shadow: 1px 1px rgb(0, 102, 255);
    font-size: 22px; 
    font-weight: 900;
    margin-bottom: 5px;
}

.item-price-sale{
    margin-bottom: 0px; 
    font-size: 12px;
}

.card-text-sale{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 900;
    color: red;
}

.card-title .text-title{
    font-weight: 900;
    font-size: 15px;
    color: rgb(82, 82, 82);
}

.card-footer
{
    padding-bottom: 0px;
}

.imange-product-card
{
    position: relative;
    max-height: 180px;
    min-height: 180px;

}

.imange-product-card img
{
    min-height: 170px;
    max-height: 170px;
    object-fit: cover;
}

.discount
{
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 0px 0px 4px 0px;
    background-color: rgb(255, 255, 255);
}

.discount span
{
    color: rgb(139, 139, 139);
    font-weight: 600;
    padding: 5px;
}