<div class="content-wrapper">
    <div style="width: 2480px; height: 3508px;">
        <div class="bill-content border">
            <div class="bill-header">
                <div class="bill-header-left">
                    <img src="../../../assets/img/logo-fishnew500x500.png" width="100" height="60" alt="">
                    <div class="name-shop"><span>FISH NEW</span></div>
                </div>
                <div class="bill-header-right">
                    <span>MĐ: #123213</span><br>
                    <span>Ngày đặt hàng: 12/02/2022</span>
                </div>
            </div>
            <div class="bill-from">
                <span>Nơi gửi: <span class="bill-text">Của hàng cá cảnh fish new, ấp tân thành xã tân bình huyện phụng hiệp tỉnh hậu giang.</span></span>
                <div>
                    <span>Anh: <span class="bill-text">Lê Công Bằng</span></span>
                    <span style="float: right;">Điện thoại: <span class="bill-text">0352611202</span></span>
                </div>
            </div>
            <div class="bill-to">
                <span>Nơi gửi: <span class="bill-text">Của hàng cá cảnh fish new, ấp tân thành xã tân bình huyện phụng hiệp tỉnh hậu giang.</span></span>
                <div>
                    <span>Anh: <span class="bill-text">Lê Công Bằng</span></span>
                    <span style="float: right;">Điện thoại: <span class="bill-text">0352611202</span></span>
                </div>
            </div>
            <div class="bill-cart">
                <div class="bill-list-cart">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Tên sản phẩm</th>
                                <th>Phân loại</th>
                                <th>SL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>1</span></td>
                                <td><span>Cá betta</span></td>
                                <td><span>Trống,Trắng,Lớn</span></td>
                                <td><span>x2</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bill-cart-bot">
                    <span style="font-size: 12px;">Một số sản phẩm có thể bị ẩn do danh sách quá dài</span>
                </div>
            </div>
            <div class="bill-footer">
                <div class="bill-footer-left">
                    <div class="bill-footer-left-top">
                        <span>Thu tiền người nhận: </span> <br>
                        <span style="font-size: 24px; font-weight: 900;">200,000 VNĐ</span>
                    </div>
                    <div class="bill-footer-left-bot">
                        <span>Chỉ dẫn giao hàng:</span><br>
                        <span>- Không đồng kiểm.</span><br>
                        <span>- Chuyển hoàn sau 3 lần phát.</span><br>
                        <span>- Lưu kho tối đa 5 ngày.</span><br>
                    </div>
                </div>
                <div class="bill-footer-right">
                    <span>Cá cảnh xin vui lòng để nơi có nhiệt độ không quá cao <i class="fa-solid fa-face-grin-beam-sweat"></i></span>
                </div>
            </div>
            <div class="bill-bot">
                <span>Cảm ơn bạn rất nhiều vì đã ủng hộ FISH NEW!</span>
            </div>
        </div>
    </div>
</div>
