.border
{
    border: 1px solid rgb(69, 69, 69);
}

.bill-content
{
    width: 500px;
    padding: 20px; 
    border-radius: 12px;
}

.bill-header
{
    width: 100%;
    height: 100px;
}

.bill-header-left
{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 60%; 
    height: 100px; 
    float: left;
}

.bill-header-left img
{
    margin-top: 15px;
    float: left;
}

.bill-header-left .name-shop
{
    font-size: 22px;
    font-weight: 900;
    margin-top: 25px;
}

.bill-header-left .name-shop span
{
    margin-left: 10px;
}


.bill-header-right
{
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 0px 12px 0px 0px;
    padding: 5px;
    width: 40%; 
    height: 100px; 
    float: left;
    text-align: right;
}

.bill-header-right span
{
    font-size: 18px;
    font-weight: 600;
}

.bill-from
{
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width:100%; 
    height: 90px;
}

.bill-to
{
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width:100%; 
    height: 90px;
}

.bill-text
{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.bill-cart
{
    width:100%; 
    height: 300px;
}

.bill-list-cart
{
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width:100%; 
    height: 88%;
}

.bill-cart-bot
{
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width:100%; 
    height: 12%;
}

.bill-footer
{
    width: 100%;
    height: 200px;
}

.bill-footer-left
{
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 50%; 
    height: 100%; 
    float: left;
}

.bill-footer-left-top
{
    width: 100%; 
    height: 40%; 
}

.bill-footer-left-bot
{
    width: 100%; 
}

.bill-footer-right
{
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 0px 0px 12px 0px;
    padding: 5px;
    width: 50%; 
    height: 100%; 
    float: left;
}

.bill-footer-right span
{
    font-size: 29px; 
    font-weight: 900;
}

.bill-bot
{
    margin-top: 10px;
    text-align: center;
}

.bill-bot span
{
    font-size: 15px;
    font-weight: 600;
}