<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Cá thể</h1>
            <div class="margin mt-3">
              <div class="btn-group">
                <button type="button" class="btn btn-default">Tất cả</button>
                <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" (click)="changeSelectStatus('')">Tất cả</a>
                  <a class="dropdown-item" (click)="changeSelectStatus('1')">Hoạt động</a>
                  <a class="dropdown-item" (click)="changeSelectStatus('0')">Dừng</a>
                </div>
              </div>
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="../">Admin</a></li>
              <li class="breadcrumb-item active">Cá thể</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
              <!-- TABLE: LATEST ORDERS -->
              <div class="card">
                <div class="card-header border-transparent">
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                  <div class="navbar-dark">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                          <input (ngModel)="find_text" name="find_text" (ngModelChange)="find_text_filter_control.next($event)" class="form-control form-control-navbar" type="search" placeholder="Tìm kiếm cá thể" aria-label="Search">
                          <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                    </form>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Cá thể</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th colspan="2">Thao tác</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let item of listSex | paginate: { itemsPerPage: 15, currentPage: page, totalItems: totalLength }; let i = index">
                      <tr class="list">
                        <td>{{i + 1}}</td>
                        <td>#{{item.id}}</td>
                        <td><div style="width: 200px;">{{item.name}}</div></td>
                        <td><div style="width: 100px;">{{item.created_at | date:'yyyy-MM-dd'}}</div></td>
                        <td *ngIf="item.status == true"><div style="width: 100px;"><span class="badge badge-success">Hoạt động</span></div></td>
                          <td *ngIf="item.status == false"><div style="width: 100px;"><span class="badge badge-warning">Dừng</span></div></td>
                        <td style="text-align: right;">
                            <div (click)="getSexId(item.id)" style="width: 80px;"><a class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Sửa</a></div>
                        </td>
                        <td>
                            <div (click)="deleteConfirmed(item.id)" style="width: 80px;"><a class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</a></div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                  <pagination-controls previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <!-- PRODUCT LIST -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Thêm cá thể</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <form id="addSex" [formGroup]="addSexForm" (submit)="addSex()">
                <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                      <div class="form-group">
                          <label class="col-form-label" for="inputSuccess">Tên cá thể</label>
                          <input type="text" form="addSex" formControlName="name" required class="form-control" id="inputSuccess" placeholder="Nhập tên cá thể">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Ngày tạo</label>
                          <input type="text" class="form-control disabled" disabled placeholder="Hôm nay: {{currentDate | date:'yyyy-MM-dd'}}">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Trạng thái</label>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" formControlName="status" form="addSex" class="custom-control-input" id="customSwitch1">
                              <label class="custom-control-label" for="customSwitch1">Hoạt động</label>
                          </div>
                      </div>
                    </ul>
                </div>
              </form>
                  <!-- /.card-body -->
                <div class="card-footer text-center">
                    <button type="submit" form="addSex" [disabled]="!addSexForm.valid" class="btn btn-info"><i class="fa-solid fa-plus"></i> Thêm</button>
                </div>
              </div>
              <!-- /.card -->

              <div *ngIf="acEdit" class="card">
                <div class="card-header">
                  <h3 class="card-title">Cập nhật cá thể - (#{{sex[0].id}})</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <form id="editSex" [formGroup]="editSexForm" (submit)="editSex()">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                      <div class="form-group">
                          <label class="col-form-label" for="inputSuccess">Tên cá thể</label>
                          <input type="text" form="editSex" formControlName="name" required class="form-control" id="inputSuccess" placeholder="Nhập tên cá thể">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Ngày tạo</label>
                          <input type="text" class="form-control disabled" disabled placeholder="Hôm nay: {{currentDate | date:'yyyy-MM-dd'}}">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Trạng thái</label>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" formControlName="status" form="editSex" class="custom-control-input" id="statusEdit">
                              <label class="custom-control-label" for="statusEdit">Hoạt động</label>
                          </div>
                      </div>
                    </ul>
                </form>
                </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <button form="editSex" [disabled]="!editSexForm.valid" type="submit" class="btn btn-success mr-1"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                    <button form="editSex" (click)="setAcEdit(false)" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i> Hủy</button>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
    </section>
</div>
