<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Chân trang</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="../">Admin</a></li>
              <li class="breadcrumb-item active">Chân trang</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
            <!-- MAP & BOX PANE -->
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
                <div class="card-header border-transparent">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <form id="edit_footer" [formGroup]="editFooterForm" (submit)="editFooter()">
                        <div class="table-responsive">
                            <table class="table m-0">
                            <thead>
                            <tr>
                                <th>Tên cửa hàng</th>
                                <th>Logo</th>
                                <th>Mô tả</th>
                                <th>Điện thoại 1</th>
                                <th>Điện thoại 2</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>TMDT (TM1)</th>
                                <th>Url (TM1)</th>
                                <th>TMDT (TM2)</th>
                                <th>Url (TM2)</th>
                                <th>TMDT (TM3)</th>
                                <th>Url (TM3)</th>
                                <th>Ngày cập nhật</th>
                                <th>Trạng thái</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                            </thead>
                                <tbody *ngIf="footer.id" [hidden]="acEdit">
                                    <tr class="list">
                                        <td><div style="width: 200px;">{{footer.name_shop}}</div></td>
                                        <td><div style="width: 400px;">{{footer.logo}}</div></td>
                                        <td><div style="width: 660px;">{{footer.description}}</div></td>
                                        <td><div style="width: 200px;">{{footer.phone_1}}</div></td>
                                        <td><div style="width: 200px;">{{footer.phone_2}}</div></td>
                                        <td><div style="width: 250px;">{{footer.email}}</div></td>
                                        <td><div style="width: 250px;">{{footer.address}}</div></td>
                                        <td><div style="width: 250px;">{{footer.name_ecommerce_1}}</div></td>
                                        <td><div style="width: 250px;">{{footer.url_ecommerce_1}}</div></td>
                                        <td><div style="width: 250px;">{{footer.name_ecommerce_2}}</div></td>
                                        <td><div style="width: 250px;">{{footer.url_ecommerce_2}}</div></td>
                                        <td><div style="width: 250px;"></div>{{footer.name_ecommerce_3}}</td>
                                        <td><div style="width: 250px;"></div>{{footer.url_ecommerce_3}}</td>
                                        <td><div style="width: 120px;">{{footer.updated_at | date:'yyyy-MM-dd'}}</div></td>
                                        <td *ngIf="footer.status == true"><div style="width: 120px;"><span class="badge badge-success">Hoạt động</span></div></td>
                                        <td *ngIf="footer.status == false"><div style="width: 120px;"><span class="badge badge-warning">Dừng</span></div></td>
                                        <td style="text-align: right;">
                                            <div style="width: 75px;"><a (click)="setAcEdit(true)" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Sửa</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                                
                                <tbody *ngIf="acEdit">
                                    <tr>
                                        <td>
                                            <div style="width: 300px;" class="form-group">
                                                <input type="text" required="" formControlName="name_shop" class="form-control " placeholder="Nhập tên cửa hàng">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 400px;" class="form-group">
                                                <input type="text" required="" formControlName="logo" class="form-control " placeholder="Nhập tên cửa hàng">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 660px;">
                                                <textarea required="" formControlName="description" style="max-height: 300px; min-height: 40px;" class="form-control " rows="1" placeholder="Nhập mô tả cửa hàng"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 200px;" class="form-group">
                                                <input type="text" required="" formControlName="phone_1" class="form-control " placeholder="Nhập số điện thoại 1">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 200px;" class="form-group">
                                                <input type="text" required="" formControlName="phone_2" class="form-control " placeholder="Nhập số điện thoại 2">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <input type="email" required="" formControlName="email" class="form-control " placeholder="Nhập email">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <textarea required="" formControlName="address" style="max-height: 300px; min-height: 40px;" class="form-control " rows="1" placeholder="Nhập địa chỉ"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <input type="text" formControlName="name_ecommerce_1" class="form-control " placeholder="Nhập Tên TMDT">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <textarea formControlName="url_ecommerce_1" style="max-height: 300px; min-height: 40px;" class="form-control " rows="1" placeholder="Nhập url"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <input type="text" formControlName="name_ecommerce_2" class="form-control " placeholder="Nhập Tên TMDT">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <textarea formControlName="url_ecommerce_2" style="max-height: 300px; min-height: 40px;" class="form-control " rows="1" placeholder="Nhập url"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <input type="text" formControlName="name_ecommerce_3" class="form-control " placeholder="Nhập Tên TMDT">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 250px;" class="form-group">
                                                <textarea formControlName="url_ecommerce_3" style="max-height: 300px; min-height: 40px;" class="form-control " rows="1" placeholder="Nhập url"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 220px;" class="form-group">
                                                <input type="text" class="form-control disabled " disabled placeholder="Hôm nay: {{currentDate | date:'yyyy-MM-dd'}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width: 120px;" class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" formControlName="status" checked class="custom-control-input" id="customSwitch1">
                                                    <label class="custom-control-label" for="customSwitch1">Hoạt động</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div style="width: 75px;"><button [disabled]="!editFooterForm.valid" type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Lưu</button></div>
                                        </td>
                                        <td style="text-align: right;">
                                            <div style="width: 80px;"><button (click)="setAcEdit(false)" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i> Hủy</button></div>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </form>
                <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>

        </div>
        </div>
    </section>
</div>
