<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cập nhật sản phẩm</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="container card card-warning">
              <div class="card-header  mt-3">
                <h3 class="card-title">Thông tin sản phẩm</h3>
                <span class="ml-2">(Mã: PA245)</span>
              </div>
              <div class="card-body">
                <form id="addProduct" [formGroup]="editProductForm" (submit)="editProduct()">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Thể loại</label>
                            <select formControlName="category_id" class="form-control">
                              <option value="">Chọn thể loại</option>
                              <option *ngFor="let item of listCategory; let i = index" value={{item.id}}>{{item.name}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input type="text"  formControlName="name" class="form-control" placeholder="Nhập tên sản phẩm">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ảnh 1</label>
                            <input type="text"  formControlName="image_path_1" class="form-control" placeholder="Url ảnh 1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ảnh 2</label>
                            <input type="text"  formControlName="image_path_2" class="form-control" placeholder="Url ảnh 2">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ảnh 3</label>
                            <input type="text"  formControlName="image_path_3" class="form-control" placeholder="Url ảnh 3">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ảnh 4</label>
                            <input type="text"  formControlName="image_path_4" class="form-control" placeholder="Url ảnh 4">
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                          <label>Video</label>
                          <input type="text"  formControlName="video_path" class="form-control" placeholder="Url video">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Mô tả sản phẩm</label>
                        <angular-editor required="" placeholder="Nhập thông tin sản phẩm ..." formControlName="description" [config]="config"></angular-editor>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Giá góc</label>
                            <input type="text"  formControlName="old_price" (ngModelChange)="update_new_price()" class="form-control" placeholder="Nhập giá góc">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Giảm</label>
                            <input type="number" min="0" max="100"  formControlName="discount" (ngModelChange)="update_new_price()" class="form-control" placeholder="Nhập phần trăm giảm">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Giá mới</label>
                            <input type="text" class="form-control" disabled placeholder="{{new_price}} VNĐ">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cá thể</label>
                            <ng-multiselect-dropdown
                              (ngModelChange)="update_new_price()"
                              [placeholder]="'Chọn cá thể'"
                              [settings]="sexDropdownSettings[0]"
                              [data]="listSex"
                              formControlName="sex"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                          </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Kích thước</label>
                            <ng-multiselect-dropdown
                              (ngModelChange)="update_new_price()"
                              [placeholder]="'Chọn kích thước'"
                              [settings]="sizeDropdownSettings[0]"
                              [data]="listSize"
                              formControlName="size"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                          </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Màu sắc</label>
                            <ng-multiselect-dropdown
                              (ngModelChange)="update_new_price()"
                              [placeholder]="'Chọn màu sắc'"
                              [settings]="colorDropdownSettings[0]"
                              [data]="listColor"
                              formControlName="color"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                          </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Số lượng kho</label>
                            <input formControlName="amount" type="number" min="1" max="9999" class="form-control" placeholder="Số lượng kho">
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                          <label>Ngày tạo</label>
                          <input type="text" disabled class="form-control" placeholder="Ngày: {{created_at | date:'yyyy-MM-dd'}}">
                      </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Đặt câu hỏi</label>
                            <div class="custom-control custom-switch">
                                <input (ngModelChange)="update_new_price()" formControlName="question_status" type="checkbox" class="custom-control-input" id="question_status">
                                <label class="custom-control-label" for="question_status">Bật</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Đánh giá</label>
                            <div class="custom-control custom-switch">
                                <input (ngModelChange)="update_new_price()" formControlName="comment_status" type="checkbox" class="custom-control-input" id="comment_status">
                                <label class="custom-control-label" for="comment_status">Tắt</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Tùy chọn kích thước</label>
                            <div class="custom-control custom-switch">
                                <input (ngModelChange)="update_new_price()" formControlName="all_sizes_status" type="checkbox" class="custom-control-input" id="all_sizes_status">
                                <label class="custom-control-label" for="all_sizes_status">Có</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Quảng cáo</label>
                            <div class="custom-control custom-switch">
                                <input (ngModelChange)="update_new_price()" formControlName="banner_status" type="checkbox" class="custom-control-input" id="banner_status">
                                <label class="custom-control-label" for="banner_status">Hoạt động</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Trạng thái</label>
                            <div class="custom-control custom-switch">
                                <input (ngModelChange)="update_new_price()" formControlName="status" type="checkbox" class="custom-control-input" id="status">
                                <label class="custom-control-label" for="status">Hoạt động</label>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  <div class="card-footer text-center">
                    <button type="submit" [disabled]="!editProductForm.valid"  class="btn btn-success mr-1"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                    <button form="editColor" (click)="goBack()" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i> Quay lại</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
