<div class="row">
    <div class="ml-2 col-lg-0">
        <p class="btn btn-outline-primary">Thể loại</p>
        </div>
        <div class="ml-2 col-lg-0">
        <p class="btn btn-outline-primary">Thể loại</p>
        </div>
        <div class="ml-2 col-lg-0">
        <p class="btn btn-outline-primary">Thể loại</p>
        </div>
        <div class="ml-2 col-lg-0">
        <p class="btn btn-outline-primary">Thể loại</p>
        </div>
        <div class="ml-2 col-lg-0">
        <p class="btn btn-outline-primary">Thể loại</p>
    </div>
</div>