<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="dashboard" class="brand-link">
      <img src="../../../assets/img/logo-fishnew200x200.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ADMIN - FISH NEW</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img *ngIf="admin.avatar" src="{{admin.avatar}}" class="img-circle elevation-2" alt="User">
        </div>
        <div class="info">
          <a routerLink="information" class="d-block">{{admin.name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a routerLink="dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tổng quan
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Đơn hàng
                <span class="right badge badge-danger">Mới</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-category" class="nav-link">
              <i class="nav-icon fa-solid fa-clipboard-list"></i>
              <p>
                Thể loại
                <span class="badge badge-info right">{{lengthCategory}}</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-sex" class="nav-link">
              <i class="nav-icon fa-solid fa-fish-fins"></i>
              <p>
                Cá thể
                <span class="badge badge-info right">{{lengthSex}}</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-size" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i> 
              <p>
                Kích thước
                <span class="badge badge-info right">{{lengthSize}}</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-color" class="nav-link">
              <i class="fa-solid nav-icon fa-brush"></i>
              <p>
                Màu sắc
                <span class="badge badge-info right">{{lengthColor}}</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="list-event" class="nav-link">
              <i class="nav-icon fa-brands fa-salesforce"></i>
              <p> Khuyến mãi
                <span class="badge badge-info right">{{lengthEvent}}</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="list-product" class="nav-link">
              <i class="nav-icon fas fa-tag"></i>
              <p> Sản phẩm
                <span class="badge badge-info right">{{lengthProduct}}</span>
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a routerLink="list-footer" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Chân trang
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" (click)="logOut()" class="nav-link">
              <i class="nav-icon fa-solid fa-arrow-right-from-bracket"></i>
              <p>
                Đăng xuất
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>