<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tổng quan</h1>
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Admin</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-eye"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Lượt truy cập</span>
              <span class="info-box-number">{{view.length}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Phản hồi</span>
              <span class="info-box-number">{{lengthReport}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Đã bán</span>
              <span class="info-box-number">{{lengthOrderSuccess}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Khách hàng</span>
              <span class="info-box-number">{{lengthClient}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Phản hồi ({{reports.length}})</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">
                <li class="item" *ngFor="let item of reports">
                  <div class="">
                      <a class="product-title">
                          {{item.client_name}}
                        <span class="badge badge-warning float-right">{{item.created_at | date:'yyyy-MM-dd'}}</span>
                      </a>
                      
                      <span class="product-description">
                        Nội dung: {{item.content}}
                      </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Khách hàng mới ({{clients.length}})</h3>

                  <div class="card-tools">
                    <span class="badge badge-danger">Khách hàng mới</span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body p-0">
                  <ul class="users-list clearfix">
                    <li class="users-list-avatar" *ngFor="let item of clients | paginate: { itemsPerPage: 8, currentPage: page, totalItems: totalLength }; let i = index">
                      <img src="{{item.avatar}}" alt="">
                      <a class="users-list-name">{{item.name}}</a>
                      <span class="users-list-date">{{item.phone}}</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer clearfix">
                  <pagination-controls previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
              </div>
              </div>
            </div>
            <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Sản phẩm mới ({{products.length}})</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">
                <li class="item" *ngFor="let item of products">
                  <div class="product-img mr-2">
                    <img style="width: 100px; height: 60px;" style="cursor: pointer;" (click)="changeNameProduct(item)" src="{{item.image_path_1}}">
                  </div>
                  <div class="product-info">
                    <a style="color: rgb(55, 165, 255); cursor: pointer;" (click)="changeNameProduct(item)" class="product-title">
                      {{ (item.name.length>25)? (item.name | slice:0:25)+'...':(item.name) }}
                      <span class="badge badge-warning float-right">Kho {{item.amount}}</span></a>
                    <span class="product-description">{{formatCash(item.new_price.toString())}} VNĐ</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="info-box mb-3 bg-warning">
            <span class="info-box-icon"><i class="fas fa-tag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sản phẩm</span>
              <span class="info-box-number">{{lengthProduct}}</span>
            </div>
          </div>
          <div class="info-box mb-3 bg-success">
            <span class="info-box-icon"><i class="fa-solid fa-border-all"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Đơn hàng</span>
              <span class="info-box-number">{{lengthOrder}}</span>
            </div>
          </div>
          <div class="info-box mb-3 bg-danger">
            <span class="info-box-icon"><i class="fas fa-comments"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Đánh giá</span>
              <span class="info-box-number">{{lengthComment}}</span>
            </div>
          </div>
          <div class="info-box mb-3 bg-info">
            <span class="info-box-icon"><i class="far fa-comment"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Tin nhắn</span>
              <span class="info-box-number">{{lengthQuestion}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
